In [3]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

def create_connection():

    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    db = os.environ.get('DB_DESTINATION_NAME')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

# установите соединение с базой
conn = create_connection()

data = pd.read_sql('select * from users_churn', conn, parse_dates=['start_date', 'end_date']) 
data.info()

postgresql://mle_20240729_393dbfd5ab:2b9f7f47f6f949a0b0ec2303a63cc76e@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20240729_393dbfd5ab
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7043 non-null   int64
 1   customer_id        7043 non-null   object
 2   begin_date         7043 non-null   datetime64[ns]
 3   end_date           1869 non-null   datetime64[ns]
 4   type               7043 non-null   object
 5   paperless_billing  7043 non-null   object
 6   payment_method     7043 non-null   object
 7   monthly_charges    7043 non-null   float64
 8   total_charges      7032 non-null   float64
 9   internet_service   5517 non-null   object
 10  online_security    5517 non-null   object
 11  online_backup      5517 non-null   object
 12  device_protection  5517 non-null   object
 13  tech_support       5517 non-null   object
 14  streaming_tv       5517 non-null   object
 15  streaming_movies   5517 non-null   object
 16  gender             7043 non-null   object
 17  senior_citizen     7043 non-null   int64
 18  partner            7043 non-null   object
 19  dependents         7043 non-null   object
 20  multiple_lines     6361 non-null   object
 21  target             7043 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(15)
memory usage: 1.2+ MB

Проверка на дубликаты

In [4]:
is_duplicated_id = data.duplicated(subset=['customer_id'], keep=False)
# параметр keep = False приводит к тому, что и оригинал, и дубликат помечаются как объект с дубликатом
print(sum(is_duplicated_id))

0

In [5]:
feature_cols = []
for item in data.columns:
    if not item in ['id','customer_id']:
        feature_cols.append(item)
print(feature_cols)

['begin_date', 'end_date', 'type', 'paperless_billing', 'payment_method', 'monthly_charges', 'total_charges', 'internet_service', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'gender', 'senior_citizen', 'partner', 'dependents', 'multiple_lines', 'target']

In [6]:
is_duplicated_features = data.duplicated(subset=feature_cols,keep=False)
print(len(data[is_duplicated_features]))
data[is_duplicated_features].sort_values(feature_cols)

24

,id,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges,internet_service,...,device_protection,tech_support,streaming_tv,streaming_movies,gender,senior_citizen,partner,dependents,multiple_lines,target
4392,7980,3428-XZMAZ,2019-10-01,2019-11-01,Month-to-month,Yes,Electronic check,69.35,69.35,Fiber optic,...,No,No,No,No,Male,0,No,No,No,1
6234,12738,6457-GIRWB,2019-10-01,2019-11-01,Month-to-month,Yes,Electronic check,69.35,69.35,Fiber optic,...,No,No,No,No,Male,0,No,No,No,1
427,6289,1240-KNSEZ,2019-10-01,2019-11-01,Month-to-month,Yes,Mailed check,20.10,20.10,None,...,None,None,None,None,Male,0,No,No,No,1
6812,12112,1000-AJSLD,2019-10-01,2019-11-01,Month-to-month,Yes,Mailed check,20.10,20.10,None,...,None,None,None,None,Male,0,No,No,No,1
1792,2455,8375-DKEBR,2019-12-01,2020-01-01,Month-to-month,Yes,Electronic check,69.60,69.60,Fiber optic,...,No,No,No,No,Female,1,No,No,No,1
4139,5539,2636-ALXXZ,2019-12-01,2020-01-01,Month-to-month,Yes,Electronic check,69.60,69.60,Fiber optic,...,No,No,No,No,Female,1,No,No,No,1
1229,544,2866-IKBTM,2020-01-01,NaT,Month-to-month,No,Mailed check,19.55,19.55,None,...,None,None,None,None,Female,0,No,No,No,0
5053,1976,8605-ITULD,2020-01-01,NaT,Month-to-month,No,Mailed check,19.55,19.55,None,...,None,None,None,None,Female,0,No,No,No,0
4866,12439,0970-QXPXW,2020-01-01,NaT,Month-to-month,No,Mailed check,19.65,19.65,None,...,None,None,None,None,Female,0,No,No,No,0
6976,9272,7721-DVEKZ,2020-01-01,NaT,Month-to-month,No,Mailed check,19.65,19.65,None,...,None,None,None,None,Female,0,No,No,No,0
4607,8539,6654-QGBZZ,2020-01-01,NaT,Month-to-month,No,Mailed check,19.90,19.90,None,...,None,None,None,None,Female,0,No,No,No,0
5733,12303,7878-RTCZG,2020-01-01,NaT,Month-to-month,No,Mailed check,19.90,19.90,None,...,None,None,None,None,Female,0,No,No,No,0
1760,664,3030-ZKIWL,2020-01-01,NaT,Month-to-month,No,Mailed check,20.05,20.05,None,...,None,None,None,None,Male,0,No,No,No,0
3155,6434,7096-UCLNH,2020-01-01,NaT,Month-to-month,No,Mailed check,20.05,20.05,None,...,None,None,None,None,Male,0,No,No,No,0
4269,10393,8749-CLJXC,2020-01-01,NaT,Month-to-month,No,Mailed check,20.05,20.05,None,...,None,None,None,None,Male,0,No,No,No,0
395,102,6380-ARCEH,2020-01-01,NaT,Month-to-month,No,Mailed check,20.20,20.20,None,...,None,None,None,None,Male,0,No,No,No,0
2244,2851,3247-MHJKM,2020-01-01,NaT,Month-to-month,No,Mailed check,20.20,20.20,None,...,None,None,None,None,Male,0,No,No,No,0
6150,9937,8048-DSDFQ,2020-01-01,NaT,Month-to-month,No,Mailed check,20.20,20.20,None,...,None,None,None,None,Male,0,No,No,No,0
4165,5560,9122-UMROB,2020-01-01,NaT,Month-to-month,No,Mailed check,20.30,20.30,None,...,None,None,None,None,Male,0,No,No,No,0
4654,11891,2676-ISHSF,2020-01-01,NaT,Month-to-month,No,Mailed check,20.30,20.30,None,...,None,None,None,None,Male,0,No,No,No,0
3398,3201,0673-IGUQO,2020-01-01,NaT,Month-to-month,No,Mailed check,20.45,20.45,None,...,None,None,None,None,Male,0,No,No,No,0
5741,4722,2668-TZSPS,2020-01-01,NaT,Month-to-month,No,Mailed check,20.45,20.45,None,...,None,None,None,None,Male,0,No,No,No,0
1698,692,8262-COGGB,2020-01-01,NaT,Month-to-month,Yes,Mailed check,20.45,20.45,None,...,None,None,None,None,Male,0,No,No,No,0
3116,4361,5996-DAOQL,2020-01-01,NaT,Month-to-month,Yes,Mailed check,20.45,20.45,None,...,None,None,None,None,Male,0,No,No,No,0

In [7]:
data = data[~is_duplicated_features].reset_index(drop=True)

In [8]:
print(data.shape)

(7019, 22)

In [9]:
def remove_duplicates(data):
    feature_cols = data.columns.drop('customer_id').tolist()
    is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)
    data = data[~is_duplicated_features].reset_index(drop=True)
    return data

ПРОПУСКИ
В случае с числовыми колонками наиболее распространённый подход — заполнение средним или медианным значением, а в случае с категориальными — заполнение модой.

In [10]:
data.isnull().sum()

id                      0
customer_id             0
begin_date              0
end_date             5156
type                    0
paperless_billing       0
payment_method          0
monthly_charges         0
total_charges          11
internet_service     1506
online_security      1506
online_backup        1506
device_protection    1506
tech_support         1506
streaming_tv         1506
streaming_movies     1506
gender                  0
senior_citizen          0
partner                 0
dependents              0
multiple_lines        682
target                  0
dtype: int64

Список колонок с пустыми значениями

In [11]:
cols_with_nans = data.isnull().sum()
cols_with_nans = cols_with_nans[cols_with_nans > 0].index.drop('end_date')
cols_with_nans

Index(['total_charges', 'internet_service', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'multiple_lines'],
      dtype='object')

Заполняем средники, а категории модой

In [12]:
for col in cols_with_nans:
	if data[col].dtype in [float, int]:
		fill_value = data[col].mean
	elif data[col].dtype == 'object':
		fill_value = data[col].mode().iloc[0]
	data[col] = data[col].fillna(fill_value)

проверяем пустые поля

In [13]:
data.isnull().sum()

id                      0
customer_id             0
begin_date              0
end_date             5156
type                    0
paperless_billing       0
payment_method          0
monthly_charges         0
total_charges           0
internet_service        0
online_security         0
online_backup           0
device_protection       0
tech_support            0
streaming_tv            0
streaming_movies        0
gender                  0
senior_citizen          0
partner                 0
dependents              0
multiple_lines          0
target                  0
dtype: int64

функция заполнения пропусков

In [14]:
def fill_missing_values(data):
    cols_with_nans = data.isnull().sum()
    cols_with_nans = cols_with_nans[cols_with_nans > 0].index.drop('end_date')
    for col in cols_with_nans:
        if data[col].dtype in [float, int]:
            fill_value = data[col].mean()
        elif data[col].dtype == 'object':
            fill_value = data[col].mode().iloc[0]
        data[col] = data[col].fillna(fill_value)
    return data

Выбросы

In [18]:
num_cols = data.select_dtypes(['float']).columns
threshold = 1.5
potential_outliers = pd.DataFrame()

for col in num_cols:
	Q1 = data[col].quantile(0.25)
	Q3 = data[col].quantile(0.75)
	IQR = Q3 - Q1
	margin = threshold*IQR
	lower = Q1 - margin
	upper = Q3 + margin
	potential_outliers[col] = ~data[col].between(lower, upper)

outliers = potential_outliers.any(axis=1)

print(data[outliers])

Empty DataFrame
Columns: [id, customer_id, begin_date, end_date, type, paperless_billing, payment_method, monthly_charges, total_charges, internet_service, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, gender, senior_citizen, partner, dependents, multiple_lines, target]
Index: []

[0 rows x 22 columns]