Перед запуском убедитесь, что в корне проекта есть файл .env и в нем заполнены выданные вам креды подключения к базам данных и хранилищу

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
from dotenv import load_dotenv, find_dotenv
from sqlalchemy import create_engine

In [3]:
# подгружаем .env
load_dotenv()

True

In [4]:
# Считываем все креды
src_host = os.environ.get('DB_SOURCE_HOST')
src_port = os.environ.get('DB_SOURCE_PORT')
src_username = os.environ.get('DB_SOURCE_USER')
src_password = os.environ.get('DB_SOURCE_PASSWORD')
src_db = os.environ.get('DB_SOURCE_NAME') 

dst_host = os.environ.get('DB_DESTINATION_HOST')
dst_port = os.environ.get('DB_DESTINATION_PORT')
dst_username = os.environ.get('DB_DESTINATION_USER')
dst_password = os.environ.get('DB_DESTINATION_PASSWORD')
dst_db = os.environ.get('DB_DESTINATION_NAME')

s3_bucket = os.environ.get('S3_BUCKET_NAME')
s3_access_key = os.environ.get('AWS_ACCESS_KEY_ID')
s3_secret_access_key = os.environ.get('AWS_SECRET_ACCESS_KEY')

In [5]:
print(src_port)

6432

In [6]:
# Создадим соединения
src_conn = create_engine(f'postgresql://{src_username}:{src_password}@{src_host}:{src_port}/{src_db}')
dst_conn = create_engine(f'postgresql://{dst_username}:{dst_password}@{dst_host}:{dst_port}/{dst_db}')

In [24]:
SQL = f"""SELECT CONCAT(table_name,'.',column_name) as fields FROM information_schema.columns WHERE table_name IN ('contracts','internet','personal','phone') AND column_name != 'customer_id' AND column_name != 'index' ORDER BY fields"""
data_tables = pd.read_sql(SQL, src_conn)

flld_list = ','.join(data_tables['fields'].tolist())
print(flld_list)

contracts.begin_date,contracts.end_date,contracts.monthly_charges,contracts.paperless_billing,contracts.payment_method,contracts.total_charges,contracts.type,internet.device_protection,internet.internet_service,internet.online_backup,internet.online_security,internet.streaming_movies,internet.streaming_tv,internet.tech_support,personal.dependents,personal.gender,personal.partner,personal.senior_citizen,phone.multiple_lines

contracts.begin_date,contracts.end_date,contracts.monthly_charges,contracts.paperless_billing,contracts.payment_method,contracts.total_charges,contracts.type,internet.device_protection,internet.internet_service,internet.online_backup,internet.online_security,internet.streaming_movies,internet.streaming_tv,internet.tech_support,personal.dependents,personal.gender,personal.partner,personal.senior_citizen,phone.multiple_lines

In [8]:
# Пример выгрузки данных из БД
TABLE = 's1w1_electricity_access_percent'
SQL = f'select * from {TABLE}'
data = pd.read_sql(SQL, src_conn)

In [9]:
print(data.columns)
print(data.shape)

Index(['index', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')
(264, 63)

А дальше, творите!